.path-roofing-colour-scheme-explorer .main-container {
  width: 100%;
  padding: 0;
}

.upper-row {
  width: 100%;
  display: block;
}

a.active {
  box-shadow: 5px 5px 5px #888888;
}

canvas {
  background: #cccccc;
  width: 500px;
  height: 325px;
}

@media screen and (min-width: 300px) {
  canvas {
    width: 320px;
    height: 200px;
  }
  .paginator-center {
    right: 20%!important;
  }
}
@media screen and (min-width: 768px) {
  canvas {
    width: 768px;
    height: 520px;
  }

  .paginator-center {
    right: 35%!important;
  }
}

@media screen and (min-width: 992px) {
  canvas {
    background: #cccccc;
    width: 712px;
    height: 500px;
  }

  .color-panel {
    display: block;
    padding: 10px;
    max-height: 100px;
    overflow-y: scroll;
  }

  .paginator-center {
    right: 10%!important;
  }

  .wrapper {
    display: block;
    width: 992px;
    margin: auto;
  }

  .col-2 {
    width: 280px;
    float: right;
  }

  .roofcolor {
    text-align: left!important;
  }

  .roof-color h3 {
    text-align: left!important;
  }

  .house-image img {
    max-width: 280px;
    margin: auto;
  }

  .roofing {
    display: block;
    height: 260px;
    width: 30%!important;
    float: left;
    background: #40434C;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    border: 5px solid white;
  }

  .scheme-row1,
  .scheme-row2 {
    display: block;
    height: 260px;
    width: 30%!important;
    float: left;
    margin-left: 20px!important;
    padding-left: 100px!important;
  }
}

@media screen and (min-width: 1200px) {
  canvas {
    background: #cccccc;
    width: 920px;
    height: 600px;
  }

  .color-panel {
    display: block;
    padding: 10px;
    max-height: 280px;
    overflow-y: scroll;
  }

  .paginator-center {
    right: 10%;
  }

  .wrapper {
    display: block;
    width: 1200px;
    margin: auto;
  }

  .col-2 {
    width: 280px;
    float: right;
  }

  .house-image img {
    max-width: 250px;
    margin: auto;
  }

}

.house-image img {
  max-width: 250px;
  margin: auto;
}

.color-panel {
  display: block;
  padding: 10px 0px 10px 10px;
  height: 215px;
  overflow-y: scroll;
}

.roof-color-name {
  display: block;
  padding: 10px;
}

.color-panel .color-div {
  display: block;
  float: left;
}

.color-panel a {
  height: 45px;
  width: 47px;
  display: block;
  background: #eeeeee;
  margin: 5px;
}

.paginator-center {
  position: absolute;
  bottom: 20px;
}

.roofcolor {
  padding: 10px 0px 15px 10px;
  text-align: center;
}

.roofcolor h3 {
  margin-top: 0px;
}

.roof-color h3 {
  text-align: center;
}

.style-house {
  background: #F4F4F4;
  padding: 10px 10px 15px 10px;
  position: relative;
}

.roof-color {
  padding: 10px;
}

.roof-color h3 {
  margin-top: 0px;
}

.scheme {
  width: 100%;
  background: #EEECED;
  padding: 45px 60px 70px 60px;
  display: inline-block;
}

.wrapper {
  display: block;
  margin: auto;
  text-align: center;
}

.scheme h2 {
  margin-bottom: 60px;
}

.scheme h3 {
  margin-top: 0;
}

.scheme-row {
  margin-bottom: 25px;
}

.roofing {
  display: block;
  height: 260px;
  width: 100%;
  float: left;
  background: #40434C;
  color: white;
  padding-top: 20px;
  padding-left: 20px;
  border: 5px solid white;
}

.scheme-row1,
.scheme-row2 {
  display: block;
  height: 260px;
  width: 100%;
  float: left;
  margin-left: 0px;
  padding-left: 0px;
}
.scheme-door-color,
.scheme-window-color,
.scheme-wall-color,
.scheme-garage-color,
.scheme-fasia-color,
.scheme-downpipes-color {
  width: 70px;
  height: 70px;
  float: left;
  background: #0071b3;
  border: 5px solid white;
  margin-right: 20px;
}

.scheme-text-wrapper {
  height: 70px;
  padding-top: 10px;
}


.color-schemes {
  padding: 45px 60px 60px 60px;
  position: relative;
}

span.scheme-prev {
  position: absolute;
  top: 140px;
  z-index: 9999;
}

span.scheme-next {
  position: absolute;
  top: 140px;
  right: 60px;
  z-index: 9999;
}

.color-schemes h2 {
  margin-bottom: 45px;
}

.scheme-name img {
  width: 80%;
  margin: auto;
}
